* {
  background-color: #222;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Navigation page*/
.Navbar.Brand {
  color: black;
}

/*Carousel*/
#fake-pics {
  padding: 100px;
  margin: auto;
  image-resolution: auto;
}

/* upcoming events section */
.container,
.list {
  background-color: whitesmoke;
  font-family: monospace;
}

.header {
  background-color: whitesmoke;
  text-decoration: underline;
}

.title {
  background-color: whitesmoke;
  font-weight: bold;
  text-decoration: underline;
}
.date,
.time {
  background-color: whitesmoke;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
